<div id="nav-bar">
    <h1>Ebay Scout</h1>
    <h5>Find What your are looking for more efficiently with this no-frills search</h3>
    <a href="/" class="btn">Home</a>
    <a href="/login" class="btn">login</a>
    <a href="/register" class="btn">register</a>
    <a href="/find" class="btn">Find on Ebay</a>
    <a href="/store" class="btn">Browse My Ebay Store</a>
</div>