<div id="nav-bar">
    <h1>Ebay Scout</h1>
    <h5>Find What your are looking for more efficiently with this no-frills search</h3>
    <a href="/login">login</a>
    <a href="/register">register</a>
</div>