
    <h1>Search Ebay</h1><hr>
    
    <div id="search-form" class="center-align">
        <label for"search-keyword">Search by Keyword</label>
        <input id="searchInput" value="doll" type="text" name="search-keyword"></input>
        <button id="search-btn">search</button>
    </div><hr>

    <div id="results" class="row"></div>
    <div id="pagination"></div>