<h4>Welcome!</h4>
<p>Find what you are looking for on Ebay:</p>
<div id="space-taker-upper">
    <ul>
        <li><h3>Create an Account,</h3></li>
        <li><h3>Search all of eBay,</h3></li>
        <li><h3>Search my eBay Store!</h3></li>
        <li><h3>Navigate with the links above</h3></li>
    </ul>
</div>