    <h1>Sally's Fine Vintage Toys</h1>
    <h3>Welcome, and browse our inventory of Toys, Vintage items, and Household Goods</h3>
    <hr>
    
    <div id="search-form" class="center-align">
        <label for"search-keyword">Search the Store</label>
        <input id="searchInput" value="doll" type="text" name="search-keyword"></input>
        <button id="search-btn">search</button>
    </div><hr>

    <div id="store-results" class="row">
        <div id="category-buttons"></div>
    </div>
    <div id="pagination"></div>

    {{!-- <script src="/assets/js/store_search.js"></script> --}}